
.DS_Store
**/.DS_Store
oldModel/*
copasiRuns/*
*.pyc
*.zip
*.ini
*.png
*.p
*.cps
*.sbml
*.out
*.csv
*.key
*.pdf
*.jpg
*.svg
data/reConf7/temp.txt
data/reConf7S7/temp.txt
figures/toy/param.txt
data/reConf7backup/temp.txt
data/reConf7backup2/temp.txt
data/reConf7backup3/temp.txt
data/reConf8/temp.txt
data/reConf12/temp.txt
data/reConf12b/temp.txt
data/reConf6/temp.txt
data/reConf6/temp.txt
data/reConf6/temp.txt
